body {
    margin: 0;
    padding: 0;
    background:#fff;
}
/*首页 nav*/
/*.text-center{*/
/*text-align: center !important;*/
/*}*/
.W-nav-1{
    padding-top: 1.5%;
    padding-bottom: 1.2%;
    margin-left: -1%;
}
.W-nav-1 a:hover{
    color: #20A889;
}
/*其他几个导航*/
.W-nav-2{
    padding-top: 1.5%;
    padding-bottom: 1.2%;
    margin-left: -2%;
}
.W-nav-2 a:hover{
    color:#20A889;
}
/*下拉框  二手房选项*/
.W-nav-3{
    padding-top: 1.5%;
    padding-bottom: 1.2%;
    margin-left: -2%;
}
.W-nav-3:hover{
    color:#20A889;
}

.banner {
    width: 100%;
    /*height: 500px;*/
    /*background-color: #009b79;*/
}
.banner .backgroundC {
    width: 100%;
    background: url("../../images/fangXiaoEr/Wpart1/banner_bg_02.png") no-repeat center center;
    height: 100%;
    /*padding: 30px;*/
}
/*.banner .backgroundC .W-banner-btn{*/
    /*border: none;*/
/*}*/
.W-form-title{
    font-size: 1.4em;
    margin: auto 0;
    font-weight: 500;
    text-align: center;
    /*height: 30px;*/
}
.W-form{
    width: 65%;
    /*height: 90%;*/
    background-color: white;
    margin: auto;
}
.W-form-input1{
    border: none;
    background-color: #F5F5F5;
    padding: 4% 0 5% 0;
    margin-bottom: 1.5%;
}
.W-form-input2{
    border: none;
    background-color: #F5F5F5;
    padding: 4% 0 5% 0;
    margin-bottom: 1.5%;
}
.W-form-btn1{
    padding-top: 9%;
    padding-bottom: 9%;
    font-size: 14px;
    border: solid 1px #009B78;
    color: #009B78;
}
.W-form-btn2{
    padding-top: 9%;
    padding-bottom: 9%;
    font-size: 14px;
    background-color: #F5F5F5;
    border:solid 1px #F5F5F5;
}
.W-form-textarea{
    padding-bottom: 18%;
    background-color: #F5F5F5;
    resize: none;margin-top: 2%;
}
.W-form-btn3{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #009B78;
    border: none;
    margin-top: 1.5%;
    margin-bottom: 1%;
}
.W-form-bottom{
padding-left: 19%;
margin-bottom: 3%;
color: gray;
font-size: 14px;
}
.W-form-bottom2{
color: gray;
font-size: 12px;
margin-bottom: 8%;
}
.W-form span{
font-size: 0.9em;
}

/*免费基础服务*/
.free-server-title{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: #323232;
    padding-top: 4%;
    padding-bottom: 1%;
}
.free-server-title1{
    text-align: center;
    font-size: 20px;
    color: #323232;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
}
.free-left-div{
    width: 22%;
    text-align: left;
    background-color: #009B79;
    padding:0 0 3% 4%;
}
.free-right-div{
    float: left;
    width: 20%;
    background-color: #F3F3F3;
    padding-left: 2%;
    padding-bottom: 3%;
}
.free-right-table{
    margin-top: 15%;
    margin-left: 10%;
    font-size: 15px;
    margin-bottom: 5%;
}
.free-right-table2{
    margin-top: 14%;
    margin-left: -6%;
    font-size: 15px;
    margin-bottom: 5%;
}
.free-icon{
    padding: 5% 0 3% 0;
}

/*增值业务*/
.money-left-content{
    float: left;
    width: 50%;
    background-color: #F3F3F3;
}
.money-left-img{
    float: left;
    width: 55%;
    padding-top: 33%;
    text-align: right;
    margin-right: -5%;
}
.money-left-div{
    float: left;
    width: 45%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 5%;
}
.money-left-title{
    margin-top: 18%;
    margin-bottom: 15%;
    font-size: 35px;
    color: black;
}
.money-left-text{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #CCCCCC;
}
.money-left-text-top{
    margin-top: 5%;
}
.help-content{
    float: left;
    width: 50%;
    background-color: #009B79;
}
.help-img{
    background-color: white;
    margin-top: 5%;
}

.help-er{
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 4%;
}
.help-er1{
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 6%;
}
.help-er-text{
    float: left;
    width: 47%;
    color: #505050;
    font-size: 20px;
    margin-left: 5%;
}
.help-er-ren2{
    float: left;
    width: 53%;
    padding-top: 32%;
    text-align: left;
    margin-left: -5%;
}
.help-er2-title{
    margin-top: 17%;
    margin-bottom: 15%;
    font-size: 35px;
    color: white;
    text-align: center;
}

/*真二网为您提供*/
.for-title{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: #323232;
    padding-top: 5%;
    padding-bottom: 3%;
}
.for-text-title{
    font-size: 22px;
    color: white;
    background-color:#009B79;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.for-text{
    font-size: 14px;
    color:#3b3b3b;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    line-height: 20px;
}

/*二手房对比图*/
.old-title{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: #323232;
    padding-top: 4%;
    padding-bottom: 3%;
}


/*小二解决的问题，适应手机和iPad*/
@media screen and (max-width: 1024px) {
    .help-er-text{
        float: left;
        width: 55%;
        color: #505050;
        font-size: 20px;
        margin-left: 5%;
    }
    .help-er-ren2{
        float: left;
        width: 40%;
        padding-top: 27.5%;
        text-align: left;
        margin-left: -5%;
    }
    .help-er2-title{
        margin-top: 12%;
        margin-bottom: 11%;
        font-size: 35px;
        color: white;
        text-align: center;
    }
    .help-er{
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 3%;
        padding-right: 6%;
    }
    .help-er1{
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 6%;
        font-size: 14px !important;
    }

    /*form表单*/
    .W-form-bottom{
        font-size: 11px;
    }
    .W-form-bottom2{
        padding-top: 3%;
        margin-bottom:8%;
        font-size: 10px;
    }
}

/*二手房对比图*/
.bg-img-dai{
    width: 100%;
    background: url("./../../images/fangXiaoEr/circle-bg.png") no-repeat center center;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 2.5%;
    text-align: center;
}
/*热线*/
.hot-tel{
    background-color: #009171;
    text-align: center;
}
/**/
.little-icon-title{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: #323232;
    padding-top: 4%;
    padding-bottom: 3%;
}
.little-icon-content{
    width: 92%;
    margin: auto;
    padding-left: 4%;
    padding-bottom: 3%;
}
.little-icon-top{
    padding-top: 15%;
}


/*part5*/
.home_part5_base{
    position: relative;
}
.home_part5_bg{
    width: 100%;
}
.home_part5_posi{
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}
.home_part5_posi_p{
    font-size: 33px;
    padding-bottom: 20px;
    font-weight: 600;
}
.home_part5_posi_p_span{
    color: #009B78;
}
.home_part5_posi_img{
    width: 60%;
    height:auto;
}
.position1{
    position: absolute;
    top:28%;
    left: 56%;
}
.position2{
    position: absolute;
    top:27%;
    left:37%;
}
.position3{
    position: absolute;
    top:50%;
    left:37%;
}
.position4{
    position: absolute;
    top:50%;
    left:62%;
}
.position5{
    position: absolute;
    top:60%;
    left:46%;
}
.position6{
    position: absolute;
    top:17%;
    left:42%;
}
.position7{
    position: absolute;
    top:22%;
    left:60%;
}
.position8{
    position: absolute;
    top:24%;
    left:49%;
}


.plus_css1{
    width: 15%;
}
.plus_css2{
    width: 85%
}


@media (max-width: 1200px) {
    .little-icon-title{
        font-size: 29px;
    }
    .little-icon-content{
        width: 100%;
    }
    .for-title{
        font-size: 29px;
    }
    .old-title{
        font-size: 29px;
    }
    .free-server-title{
        font-size: 29px;
    }
    .money-left-title{
        font-size: 25px;
    }
    .help-er2-title{
        font-size: 25px;
    }
    .help-er-text{
        font-size: 15px;
    }
    .money-left-div{
        font-size: 15px;
    }
    .W-form{
        width: 70%;
    }
    .plus_css1{
        width: 10%;
    }
    .plus_css2{
        width: 90%
    }

}
@media (max-width: 900px) {
    .for-text-title{
        font-size: 17px;
    }
    .W-form{
        width: 80%;
    }
    .plus_css1{
        width:5%;
    }
    .plus_css2{
        width: 95%
    }

}
